.ajuste-tela{
    height: 100vh;
    background-color: darkgrey;
}

.container-content-form{
    display: flex;
    margin-left: 5%;
    width: 90%;
    height: 98vh;
    border-radius: 10px;
}

.container-content-form img{
    width: 33%;
    height:95%;
    margin-top: 25px;
    border-radius: 10px;
}

.container-inputs{
    width: 70%;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    height: 95%;
}

.container-inputs span{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.container-inputs input{
    width: 19em;
    height: 2.5em;
    background-color: #EDF2F5;
}

.individual-input-cadastro p{
    font-size: 12px;
    margin-top: 30px;
}

.text-acceptance{
    display: flex;
    margin-top: 20%;
}

.text-acceptance input{
    display: block;

}
.text-acceptance button{
    width: 60%;
}

#checkbox-accept{
    width: 1em;
    height: 1em;
    margin-top: 0.5em;
    margin-right: 1em;
}

.individual-input-cadastro input{
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    outline: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cadastro-contratante-novo{
    display: flex;
    height: 80%;
}

.login-here{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cadastro-contratante-novo form{
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.contratante-left{
    margin-right: 2.5%;
}

.contratante-right{
    margin-right: 2.5%;
}

.btn-cadastrar-contratante{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.btn-cadastrar-contratante button{
    background-color: #6C63FF;
    color: #ededed;
    border: none;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
    width: 15%;
    height: 40px;
}

.login-here a{
    margin-left: 3px;
}