.card-perfil{
    display: flex;
    margin-top: 10px;
    text-align: center;
    height: 300px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #23232323;
}
.card-perfil-info{
    display: flex;
    width:380px;
    flex-direction: column;
    align-items: center;
}


.card-info-dev-perfil p, img{
    margin: 5px;
    display: flex;
}

.card-info-dev-perfil img{
    margin-top: 0;
    margin-bottom: 0;
    height: 25px;
    width: 25px;
}

.enfeite1{
    display: flex;
    background-image: none;
    align-items: flex-start;
    
}

.enfeite1 img{
    height: 150px;
    width: 120px;
    border-radius: 10px;
}

.enfeite2{
    display: flex;
    background-image: none;
    align-items: flex-end;
}

.enfeite2 img{
    height: 150px;
    width: 120px;
    border-radius: 10px;
}

.img-freelancer-perfil{
    height: 310px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.img-freelancer-perfil img{
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    height: 150px;
    width: 150px;
}